In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df=pd.read_csv('dataset.csv')

In [11]:
df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [12]:
df.isnull().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

In [13]:
x=df.drop(['PE'],axis=1).values
y=df['PE'].values

In [16]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [22]:
y_pre=lr.predict(x_test)

In [26]:
y_pre

array([455.59846369, 438.68009712, 434.119178  , ..., 472.39913842,
       476.10393901, 442.00430919])

In [27]:
lr.predict([[14.96,41.76,1024.07,73.17]])

array([467.15291069])

In [33]:
from sklearn.metrics import r2_score